.pagination-box{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 1rem;
}
.paging-list{
    list-style-type: none;
    padding: 0.6rem 1rem;
    border: 2px solid rgb(207, 207, 207);
    background-color: white;
    cursor: pointer;
}
.paging-list:hover{
    border: 2px solid rgb(207, 207, 207);
    background-color: rgb(216, 216, 216);
    transition: 0.5s;
}
.paging-numbers{
    color: white;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
}